* {
  font-family: roboto, sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* 

NAV 

*/

header {
  position: relative;
  background-image: url("assets/spider-man-movie.jpg");
  background-attachment: fixed;
  background-size: cover;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 35vh;
}

.content__wrapper {
  display: flex;
}

.nav__logo {
  width: 150px;
  height: 40px;
  margin: 0 10px;
}

.nav__logo img {
  max-width: 60%;
  min-width: 60px;
  min-height: 60px;
  border-radius: 9999px;
  box-shadow: 10px 0 60px 0 white;
}

.content__wrapper--links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.nav__link--list {
  display: flex;
  justify-content: space-between;
}

.nav__link--list li{
  display: flex;
  justify-content: center;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 0 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.content__wrapper--search {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 20px 40px;
}

.content__title {
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
  color: white; 
}

.input__wrap {
  position: relative;
}

.search__input {
  width: 80vw;
  max-width: 600px;
  height: 15vh;
  max-height: 60px;
  padding: 0 20px;
  border-radius: 9999px;
}

.search__btn {
  width: 60px;
  height: 60px;
  color: blueviolet;
  background: none;
  border: none;
  position: absolute;
  right: 20px;
}

.search__btn i {
  font-size: 35px;
}
